<main class="container">

    <div ng-include="'partials/user.html'" class="todo-user-menu"></div>

    <form ng-submit="newTodo()" class="todo-new">
        <input type="text" ng-model="newTodoText" class="form-control input-lg" placeholder="What do you need to do?"/>
    </form>

    <div class="pull-right todo-sort" bs-sort attributes="sortAttrs"></div>

    <div ng-repeat="todo in todos" class="row">
        <div class="col-md-12 todo-item">
            <div class="panel panel-default" ng-class="{'panel-danger': isLate(todo)}">
                <div class="panel-heading todo-heading">
                    <button type="button" class="todo-completed btn btn-sm"
                            ng-class="{'btn-success': todo.completed, 'btn-default': !todo.completed}"
                            ng-model="todo.completed"
                            ng-change="updateTodo(todo)"
                            btn-checkbox>
                        <i class="glyphicon glyphicon-check" ng-if="todo.completed"></i>
                        <i class="glyphicon glyphicon-unchecked" ng-if="!todo.completed"></i>
                    </button>
                    <div class="todo-text">
                        <span editable-text="todo.text"
                              onaftersave="updateTodo(todo)"
                              buttons="no"
                              ng-class="{'completed': todo.completed}">
                            {{todo.text}}
                        </span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" ng-model="todo.priority" btn-radio="1" ng-change="updateTodo(todo)">Highest</button>
                                <button type="button" class="btn btn-primary" ng-model="todo.priority" btn-radio="2" ng-change="updateTodo(todo)">High</button>
                                <button type="button" class="btn btn-primary" ng-model="todo.priority" btn-radio="3" ng-change="updateTodo(todo)">Normal</button>
                                <button type="button" class="btn btn-primary" ng-model="todo.priority" btn-radio="4" ng-change="updateTodo(todo)">Low</button>
                                <button type="button" class="btn btn-primary" ng-model="todo.priority" btn-radio="5" ng-change="updateTodo(todo)">Lowest</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="input-group">
                                <input type="text" class="form-control"
                                       datepicker-popup="dd-MMMM-yyyy"
                                       ng-model="todo.due_date"
                                       show-weeks="false"
                                       is-open="todo.datepickerOpened"
                                       ng-change="updateTodo(todo)"
                                       placeholder="Due date" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="openDatepicker($event, todo)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="todo-delete pull-right">
                                <button class="btn btn-danger" ng-click="confirmDelete(todo)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
